<!doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <title>Anatomy of css rule</title>
   <style>
     p{
       colour:blue;
       font-size: 20px;
       width: 200px
     }
   h{
     colour:green;
     font-size: 20px;
     width:200px;
   }</style>
  </head>
  <body>
    <h1>
      Anatomy of css
    </h1>
    <h2>
      subheading 1
    </h2>
    <p>
      
      wt ever u want to write just write its the practice of nothing that i have in my middle of this year
    </p>
    <h2>
      wt is the second heading
    </h2>
    <p>
     Its just my hobby that i just learn new things i didn't get much in any field upto now but one day we will be suceed inshaallah.I do not know wt will plain how is it working after that i can not do that wt ever we want  todo till now
    </p>
  </body>
</html>
